<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heu.iot.Dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="heu.iot.Model.Company">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="co_name" jdbcType="VARCHAR" property="coName" />
    <result column="co_adminname" jdbcType="VARCHAR" property="coAdminname" />
    <result column="co_admintel" jdbcType="VARCHAR" property="coAdmintel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, co_name, co_adminname, co_admintel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="showall" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="heu.iot.Model.Company">
    insert into company (id, co_name, co_adminname, 
      co_admintel)
    values (#{id,jdbcType=INTEGER}, #{coName,jdbcType=VARCHAR}, #{coAdminname,jdbcType=VARCHAR}, 
      #{coAdmintel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="heu.iot.Model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coName != null">
        co_name,
      </if>
      <if test="coAdminname != null">
        co_adminname,
      </if>
      <if test="coAdmintel != null">
        co_admintel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coName != null">
        #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coAdminname != null">
        #{coAdminname,jdbcType=VARCHAR},
      </if>
      <if test="coAdmintel != null">
        #{coAdmintel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="heu.iot.Model.Company">
    update company
    <set>
      <if test="coName != null">
        co_name = #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coAdminname != null">
        co_adminname = #{coAdminname,jdbcType=VARCHAR},
      </if>
      <if test="coAdmintel != null">
        co_admintel = #{coAdmintel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="heu.iot.Model.Company">
    update company
    set co_name = #{coName,jdbcType=VARCHAR},
      co_adminname = #{coAdminname,jdbcType=VARCHAR},
      co_admintel = #{coAdmintel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>